@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Bebas+Neue&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-family:  sans-serif;
  }
  
  .custom-heading {
    font-weight: 900;
    text-transform: lowercase;
  }
  
  .custom-heading::first-letter {
    text-transform: uppercase;
  }
  
  .capitalize-first::first-letter {
    text-transform: uppercase;
  }