@font-face {
  font-family: 'Hanson Bold';
  src: url('../../fonts/Hanson-Bold.otf') format('opentype'),
       url('../../fonts/Hanson-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.custom-heading {
  font-family: 'Hanson Bold', sans-serif;
  font-weight: bold;
  text-transform: lowercase;
  line-height: 0.9; 
  margin: 0;
}

.custom-heading br {
  margin-top: -0.6em; 
}

.custom-heading::first-letter {
  text-transform: uppercase;
}

.capitalize-first::first-letter {
  text-transform: uppercase;
}

.custom-heading span {
  transition: opacity 1.5s ease;
}


  @keyframes high-spin-float {
    0%, 100% {
      transform: translateY(0) rotate(0deg);
    }
    25% {
      transform: translateY(-9.4rem) rotate(360deg);
    }
  }
  
  .high-spin-float-animation {
    animation: high-spin-float 20s ease-in-out infinite;
  }


